# Data Cleaning Starring NBA Shot Log Data: Part I

This notebook will do some data cleaning exercises based on the 2014-2015 NBA Shot log data from Kaggle (credit to Dans Becker)

# Step 1: Loading the Data

In [68]:
import pandas as pd
import numpy as np
import os

In [69]:
parent_path = os.path.dirname(os.path.dirname(os.getcwd()))

replace_double_slash = parent_path.replace('\\', '/')

data_path = replace_double_slash + '/data/shot_logs.csv'

print(data_path)

C:/Users/SANKN003/Documents/NBA-Shot-Data-Analysis/data/shot_logs.csv

In [70]:
nba_data = pd.read_csv(data_path)

# Step 2: Properties of the Data

Some questions to consider
* What are the data types of each column (format, etc.)?
* What attributes are missing, if any?

Using the info method we can see that the the shot clock data, has missing values and tell which data is numeric vs non numeric

In [71]:
nba_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
GAME_ID                       128069 non-null int64
MATCHUP                       128069 non-null object
LOCATION                      128069 non-null object
W                             128069 non-null object
FINAL_MARGIN                  128069 non-null int64
SHOT_NUMBER                   128069 non-null int64
PERIOD                        128069 non-null int64
GAME_CLOCK                    128069 non-null object
SHOT_CLOCK                    122502 non-null float64
DRIBBLES                      128069 non-null int64
TOUCH_TIME                    128069 non-null float64
SHOT_DIST                     128069 non-null float64
PTS_TYPE                      128069 non-null int64
SHOT_RESULT                   128069 non-null object
CLOSEST_DEFENDER              128069 non-null object
CLOSEST_DEFENDER_PLAYER_ID    128069 non-null int64
CLOSE_DEF_DIST                128069 non-null float64
FGM                           128069 non-null int64
PTS                           128069 non-null int64
player_name                   128069 non-null object
player_id                     128069 non-null int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

In [72]:
nba_data.head(5)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [73]:
nba_data.tail(10)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
128059,21400033,"NOV 01, 2014 - BKN @ DET",A,W,12,4,4,8:34,19.8,0,...,22.7,3,missed,"Augustin, D.J.",201571,4.0,0,0,jarrett jack,101127
128060,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,1,1,1:59,11.4,16,...,12.6,2,missed,"Rondo, Rajon",200765,4.8,0,0,jarrett jack,101127
128061,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,2,2,10:10,19.0,0,...,7.4,2,missed,"Bradley, Avery",202340,2.7,0,0,jarrett jack,101127
128062,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,3,2,7:46,7.0,1,...,14.5,2,made,"Smart, Marcus",203935,3.1,1,2,jarrett jack,101127
128063,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,4,2,5:05,15.3,2,...,8.9,2,made,"Sullinger, Jared",203096,5.7,1,2,jarrett jack,101127
128064,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,5,3,1:52,18.3,5,...,8.7,2,missed,"Smart, Marcus",203935,0.8,0,0,jarrett jack,101127
128065,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,6,4,11:28,19.8,4,...,0.6,2,made,"Turner, Evan",202323,0.6,1,2,jarrett jack,101127
128066,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,7,4,11:10,23.0,2,...,16.9,2,made,"Thornton, Marcus",201977,4.2,1,2,jarrett jack,101127
128067,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,8,4,2:37,9.1,4,...,18.3,2,missed,"Bradley, Avery",202340,3.0,0,0,jarrett jack,101127
128068,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,9,4,0:12,NaN,5,...,5.1,2,made,"Bradley, Avery",202340,2.3,1,2,jarrett jack,101127

# Step 3: Data Cleaning

Now we're going to make some some adjustments to make the data easier to read.

In [74]:
#fixing column names

column_list = list(nba_data.columns)

#remove underscore and lowercase data

proper_col = [(col.replace('_', ' ')).title() for col in column_list]

nba_data.columns = proper_col

nba_data.head()

,Game Id,Matchup,Location,W,Final Margin,Shot Number,Period,Game Clock,Shot Clock,Dribbles,...,Shot Dist,Pts Type,Shot Result,Closest Defender,Closest Defender Player Id,Close Def Dist,Fgm,Pts,Player Name,Player Id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

Now the Matchup Column has a lot of information that can be split into separate columns. Right now it is not really clear which team is the home team or the away team. It is broken down the following way:

* Date

* Home Team

* Away Team

We'll create functions that we can use on the series to each part, but let's try with one example

In [75]:
matchup = nba_data['Matchup']

matchup.head()

0    MAR 04, 2015 - CHA @ BKN
1    MAR 04, 2015 - CHA @ BKN
2    MAR 04, 2015 - CHA @ BKN
3    MAR 04, 2015 - CHA @ BKN
4    MAR 04, 2015 - CHA @ BKN
Name: Matchup, dtype: object

In [76]:
sample_date = matchup[0].split(' - ')[0]

print(sample_date)

MAR 04, 2015

Now we can use the datetime module to parse the date information

In [77]:
from datetime import datetime

parsed_date = (datetime.strptime(sample_date, '%b %d, %Y')).date()

print(parsed_date)

2015-03-04

Now we have a way to create a function to return the parsed date information

In [78]:
import datetime as dt

parse_date_func = lambda x: datetime.strptime(x.split(' - ')[0], '%b %d, %Y')

In [79]:
game_date = nba_data['Matchup'].apply(parse_date_func)

nba_data['Date'] = game_date

nba_data['Date']

0        2015-03-04
1        2015-03-04
2        2015-03-04
3        2015-03-04
4        2015-03-04
5        2015-03-04
6        2015-03-04
7        2015-03-04
8        2015-03-04
9        2015-03-03
10       2015-03-03
11       2015-03-03
12       2015-03-03
13       2015-03-01
14       2015-02-27
15       2015-02-27
16       2015-02-27
17       2015-02-27
18       2015-02-27
19       2015-02-25
20       2015-02-25
21       2015-02-25
22       2015-02-25
23       2015-02-25
24       2015-02-25
25       2015-02-25
26       2015-02-25
27       2015-02-22
28       2015-02-22
29       2015-02-22
            ...
128039   2014-11-07
128040   2014-11-07
128041   2014-11-07
128042   2014-11-07
128043   2014-11-05
128044   2014-11-05
128045   2014-11-05
128046   2014-11-05
128047   2014-11-05
128048   2014-11-05
128049   2014-11-05
128050   2014-11-05
128051   2014-11-03
128052   2014-11-03
128053   2014-11-03
128054   2014-11-03
128055   2014-11-03
128056   2014-11-01
128057   2014-11-01
128058   2014-11-01
128059   2014-11-01
128060   2014-10-29
128061   2014-10-29
128062   2014-10-29
128063   2014-10-29
128064   2014-10-29
128065   2014-10-29
128066   2014-10-29
128067   2014-10-29
128068   2014-10-29
Name: Date, Length: 128069, dtype: datetime64[ns]

Repeat with the Home and Away Team Names. Since @ and vs. are both delimeter cases, we can use regex to split terms and create a function for each part. Below is a sample of what we'll do for the home team

In [80]:
import re

sample = nba_data['Matchup']

print(sample[0])

row_1 = sample[0].split(' - ')[1]

first_val = re.split('\s@\s|\svs\.\s' ,row_1)[1]

first_val

MAR 04, 2015 - CHA @ BKN

'BKN'

In [81]:
def get_home_team(s):
    second_part = s.split(' - ')[1]
    if second_part.find('@') >= 1:
        return re.split('\s@\s|\svs\.\s' , second_part)[1]
    else:
        return re.split('\s@\s|\svs\.\s' , second_part)[0]

def get_away_team(s):
    second_part = s.split(' - ')[1]
    if second_part.find('@') >= 1:
        return re.split('\s@\s|\svs\.\s' , second_part)[0]
    else:
        return re.split('\s@\s|\svs\.\s' , second_part)[1]

In [82]:
home_team = nba_data['Matchup'].apply(get_home_team)

away_team = nba_data['Matchup'].apply(get_away_team)

nba_data['Home Team'] = home_team

nba_data['Away Team'] = away_team

nba_data[['Matchup', 'Home Team', 'Away Team']].head()

                    Matchup Home Team Away Team
0  MAR 04, 2015 - CHA @ BKN       BKN       CHA
1  MAR 04, 2015 - CHA @ BKN       BKN       CHA
2  MAR 04, 2015 - CHA @ BKN       BKN       CHA
3  MAR 04, 2015 - CHA @ BKN       BKN       CHA
4  MAR 04, 2015 - CHA @ BKN       BKN       CHA

Now that we've parsed all the information in the cluttered Matchup column, we don't really need it anymore. We can now remove that column from the data

In [83]:
nba_clean_1 = nba_data.drop('Matchup', axis =1)

In [84]:
nba_clean_1.head()

,Game Id,Location,W,Final Margin,Shot Number,Period,Game Clock,Shot Clock,Dribbles,Touch Time,...,Closest Defender,Closest Defender Player Id,Close Def Dist,Fgm,Pts,Player Name,Player Id,Date,Home Team,Away Team
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,...,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,2015-03-04,BKN,CHA
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,...,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,2015-03-04,BKN,CHA
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,...,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,2015-03-04,BKN,CHA
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,...,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,2015-03-04,BKN,CHA
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,...,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,2015-03-04,BKN,CHA

In [85]:
nba_clean_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 23 columns):
Game Id                       128069 non-null int64
Location                      128069 non-null object
W                             128069 non-null object
Final Margin                  128069 non-null int64
Shot Number                   128069 non-null int64
Period                        128069 non-null int64
Game Clock                    128069 non-null object
Shot Clock                    122502 non-null float64
Dribbles                      128069 non-null int64
Touch Time                    128069 non-null float64
Shot Dist                     128069 non-null float64
Pts Type                      128069 non-null int64
Shot Result                   128069 non-null object
Closest Defender              128069 non-null object
Closest Defender Player Id    128069 non-null int64
Close Def Dist                128069 non-null float64
Fgm                           128069 non-null int64
Pts                           128069 non-null int64
Player Name                   128069 non-null object
Player Id                     128069 non-null int64
Date                          128069 non-null datetime64[ns]
Home Team                     128069 non-null object
Away Team                     128069 non-null object
dtypes: datetime64[ns](1), float64(4), int64(10), object(8)
memory usage: 22.5+ MB

Part 2 will further clean the data columns to make it easier for analysis. We'll write out this data into a separate dataset for further analysis

In [86]:
save_path = replace_double_slash + '/data/shot_logs_clean_1.csv'

nba_clean_1.to_csv(save_path, index=False)